@using DevExtreme.AspNet.Mvc
@using MedisatERP.Models
@model AspNetUser

@{
    Layout = "_Layout";
    ViewData["Title"] = "Subscription Payments";
    var userId = Model.Id;
}

<!-- Section Title Card -->
<div class="card col-12 card-title">
    <center><span><i data-feather="edit-2"></i>USER ACCOUNTS</span></center>
</div>


<div class="card" id="userGrid">
    @(
        Html.DevExtreme().DataGrid<SubscriptionPayment>()
        .ShowBorders(true)
        .DataSource(d => d.Mvc().Controller("SubscriptionPaymentsAPI").LoadAction("Get").Key("Id"))
        .Columns(columns =>
        {
            columns.AddFor(m => m.Subscription.Company.CompanyName).Caption("Company Name");
            columns.AddFor(m => m.PaymentDate).Format("yyyy-MM-dd HH:mm:ss").Caption("Timestamp");
            columns.AddFor(m => m.Subscription.SubscriptionPlan.PlanName.Price).Caption("Price");
            columns.AddFor(m => m.Status).Caption("Status");
            columns.AddFor(m => m.Method).Caption("Method");
            columns.AddFor(m => m.TransactionId).Caption("ID");
            columns.AddFor(m => m.IsRefunded).Caption("Refunded Status");
            columns.AddFor(m => m.Subscription.SubscriptionPlan.PlanName.PlanName).Caption("Plan Type");
            columns.AddFor(m => m.Subscription.SubscriptionPlan.Duration).Caption("Duration");
            columns.AddFor(m => m.Subscription.SubscriptionPlan.BillingCycle).Caption("Billing Cycle");
            columns.Add()
            .Type(GridCommandColumnType.Buttons)
            .Caption("Manage")
            .Name("ManageSubscriptionPaymentsButtons")
            .Buttons(b =>
            {
                b.Add().Name(GridColumnButtonName.Edit).Hint("Edit");
                b.Add().Name(GridColumnButtonName.Delete).Hint("Delete");
            });
        })
        .Paging(p => p.PageSize(10))
        .FilterRow(f => f.Visible(false))
        .SearchPanel(s => s.Visible(true).Width(250).Placeholder("Search..."))
        .ShowColumnLines(false)
        .ShowRowLines(true)
        .RowAlternationEnabled(true)
        .ColumnHidingEnabled(true)
        .ColumnAutoWidth(true)
        .Selection(s => s.Mode(SelectionMode.Multiple))
        .FocusedRowEnabled(true)
        .HeaderFilter(f => f.Visible(true))
        .GroupPanel(p => p.Visible(false))
        .Grouping(g => g.AutoExpandAll(false))
        .RemoteOperations(true)
        .Summary(s => s
        .TotalItems(totalItems =>
        {
            totalItems.AddFor(m => m.Subscription.Company.CompanyName).SummaryType(SummaryType.Count);
        })
        .GroupItems(groupItems =>
        {
            groupItems.Add().SummaryType(SummaryType.Count);
        })
        )
        .Editing(e => e
        .AllowAdding(false)
        .AllowUpdating(false)
        .AllowDeleting(false)
        .UseIcons(true)
        .Mode(GridEditMode.Popup)
        .Popup(p => p
        .Title("Subscription Payment")
        .Height(450)
        .ShowTitle(true)
        .Position(pos => pos
        .My(HorizontalAlignment.Center, VerticalAlignment.Center)
        .At(HorizontalAlignment.Center, VerticalAlignment.Center)
        .Of(new JS("window"))
        )
        )
        )
        )
</div>