@{
    Layout = "_Layout";
    ViewData["Title"] = "Security";
}

<!-- Section Title Card -->
<div class="card col-12 card-title">
    <center><span><i data-feather="lock"></i>Security</span></center>
</div>
